Reusable_project(Form)/Connected Services/A_ServiceReference/A_Services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Create_theme">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Duration" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Deadline" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Budget" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create_themeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Create_themeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTheme">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Theme_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Duration" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Deadline" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Budget" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateThemeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateThemeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteTheme">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Theme_ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteThemeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteThemeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssignRefereeToProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="refereeId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssignRefereeToProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AssignRefereeToProjectResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Create_themeSoapIn">
    <wsdl:part name="parameters" element="tns:Create_theme" />
  </wsdl:message>
  <wsdl:message name="Create_themeSoapOut">
    <wsdl:part name="parameters" element="tns:Create_themeResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateThemeSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateTheme" />
  </wsdl:message>
  <wsdl:message name="UpdateThemeSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateThemeResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteThemeSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteTheme" />
  </wsdl:message>
  <wsdl:message name="DeleteThemeSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteThemeResponse" />
  </wsdl:message>
  <wsdl:message name="AssignRefereeToProjectSoapIn">
    <wsdl:part name="parameters" element="tns:AssignRefereeToProject" />
  </wsdl:message>
  <wsdl:message name="AssignRefereeToProjectSoapOut">
    <wsdl:part name="parameters" element="tns:AssignRefereeToProjectResponse" />
  </wsdl:message>
  <wsdl:portType name="A_ServicesSoap">
    <wsdl:operation name="Create_theme">
      <wsdl:input message="tns:Create_themeSoapIn" />
      <wsdl:output message="tns:Create_themeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTheme">
      <wsdl:input message="tns:UpdateThemeSoapIn" />
      <wsdl:output message="tns:UpdateThemeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTheme">
      <wsdl:input message="tns:DeleteThemeSoapIn" />
      <wsdl:output message="tns:DeleteThemeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AssignRefereeToProject">
      <wsdl:input message="tns:AssignRefereeToProjectSoapIn" />
      <wsdl:output message="tns:AssignRefereeToProjectSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="A_ServicesSoap" type="tns:A_ServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create_theme">
      <soap:operation soapAction="http://tempuri.org/Create_theme" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTheme">
      <soap:operation soapAction="http://tempuri.org/UpdateTheme" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTheme">
      <soap:operation soapAction="http://tempuri.org/DeleteTheme" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignRefereeToProject">
      <soap:operation soapAction="http://tempuri.org/AssignRefereeToProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="A_ServicesSoap12" type="tns:A_ServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create_theme">
      <soap12:operation soapAction="http://tempuri.org/Create_theme" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTheme">
      <soap12:operation soapAction="http://tempuri.org/UpdateTheme" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTheme">
      <soap12:operation soapAction="http://tempuri.org/DeleteTheme" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignRefereeToProject">
      <soap12:operation soapAction="http://tempuri.org/AssignRefereeToProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="A_Services">
    <wsdl:port name="A_ServicesSoap" binding="tns:A_ServicesSoap">
      <soap:address location="http://localhost:51415/A_Services.asmx" />
    </wsdl:port>
    <wsdl:port name="A_ServicesSoap12" binding="tns:A_ServicesSoap12">
      <soap12:address location="http://localhost:51415/A_Services.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>