Reusable_project(Form)/Connected Services/U_ServiceReference/U_Services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fullname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateAccountResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewProjectTheme">
        <s:complexType />
      </s:element>
      <s:element name="ViewProjectThemeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ViewProjectThemeResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteProposal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="submissionid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteProposalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteProposalResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateProposal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="submissionid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="proposal" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateProposalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateProposalResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitProposal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="themeid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="proposal" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitProposalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubmitProposalResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="submissionid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="report" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubmitReportResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateAccountSoapIn">
    <wsdl:part name="parameters" element="tns:CreateAccount" />
  </wsdl:message>
  <wsdl:message name="CreateAccountSoapOut">
    <wsdl:part name="parameters" element="tns:CreateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="ViewProjectThemeSoapIn">
    <wsdl:part name="parameters" element="tns:ViewProjectTheme" />
  </wsdl:message>
  <wsdl:message name="ViewProjectThemeSoapOut">
    <wsdl:part name="parameters" element="tns:ViewProjectThemeResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteProposalSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteProposal" />
  </wsdl:message>
  <wsdl:message name="DeleteProposalSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteProposalResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateProposalSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateProposal" />
  </wsdl:message>
  <wsdl:message name="UpdateProposalSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateProposalResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitProposalSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitProposal" />
  </wsdl:message>
  <wsdl:message name="SubmitProposalSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitProposalResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitReportSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitReport" />
  </wsdl:message>
  <wsdl:message name="SubmitReportSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitReportResponse" />
  </wsdl:message>
  <wsdl:portType name="U_ServicesSoap">
    <wsdl:operation name="CreateAccount">
      <wsdl:input message="tns:CreateAccountSoapIn" />
      <wsdl:output message="tns:CreateAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ViewProjectTheme">
      <wsdl:input message="tns:ViewProjectThemeSoapIn" />
      <wsdl:output message="tns:ViewProjectThemeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProposal">
      <wsdl:input message="tns:DeleteProposalSoapIn" />
      <wsdl:output message="tns:DeleteProposalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProposal">
      <wsdl:input message="tns:UpdateProposalSoapIn" />
      <wsdl:output message="tns:UpdateProposalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitProposal">
      <wsdl:input message="tns:SubmitProposalSoapIn" />
      <wsdl:output message="tns:SubmitProposalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitReport">
      <wsdl:input message="tns:SubmitReportSoapIn" />
      <wsdl:output message="tns:SubmitReportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="U_ServicesSoap" type="tns:U_ServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateAccount">
      <soap:operation soapAction="http://tempuri.org/CreateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewProjectTheme">
      <soap:operation soapAction="http://tempuri.org/ViewProjectTheme" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProposal">
      <soap:operation soapAction="http://tempuri.org/DeleteProposal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProposal">
      <soap:operation soapAction="http://tempuri.org/UpdateProposal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitProposal">
      <soap:operation soapAction="http://tempuri.org/SubmitProposal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitReport">
      <soap:operation soapAction="http://tempuri.org/SubmitReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="U_ServicesSoap12" type="tns:U_ServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateAccount">
      <soap12:operation soapAction="http://tempuri.org/CreateAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewProjectTheme">
      <soap12:operation soapAction="http://tempuri.org/ViewProjectTheme" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProposal">
      <soap12:operation soapAction="http://tempuri.org/DeleteProposal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProposal">
      <soap12:operation soapAction="http://tempuri.org/UpdateProposal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitProposal">
      <soap12:operation soapAction="http://tempuri.org/SubmitProposal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitReport">
      <soap12:operation soapAction="http://tempuri.org/SubmitReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="U_Services">
    <wsdl:port name="U_ServicesSoap" binding="tns:U_ServicesSoap">
      <soap:address location="http://localhost:51415/U_Services.asmx" />
    </wsdl:port>
    <wsdl:port name="U_ServicesSoap12" binding="tns:U_ServicesSoap12">
      <soap12:address location="http://localhost:51415/U_Services.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>