Reusable_project(Form)/Connected Services/ValidatorService/ValidatorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ValidateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateUserResult" type="tns:UserValidationResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserValidationResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Role" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidateUserSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateUser" />
  </wsdl:message>
  <wsdl:message name="ValidateUserSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateUserResponse" />
  </wsdl:message>
  <wsdl:portType name="ValidatorServiceSoap">
    <wsdl:operation name="ValidateUser">
      <wsdl:input message="tns:ValidateUserSoapIn" />
      <wsdl:output message="tns:ValidateUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ValidatorServiceSoap" type="tns:ValidatorServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateUser">
      <soap:operation soapAction="http://tempuri.org/ValidateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ValidatorServiceSoap12" type="tns:ValidatorServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateUser">
      <soap12:operation soapAction="http://tempuri.org/ValidateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ValidatorService">
    <wsdl:port name="ValidatorServiceSoap" binding="tns:ValidatorServiceSoap">
      <soap:address location="http://localhost:51415/ValidatorService.asmx" />
    </wsdl:port>
    <wsdl:port name="ValidatorServiceSoap12" binding="tns:ValidatorServiceSoap12">
      <soap12:address location="http://localhost:51415/ValidatorService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>